[package]
name = "rust_os"
version = "0.1.0"
edition = "2024"
authors = ["Richard Paterson <richy1623@gmail.com>"]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[dependencies]
bootloader = "0.9"
